html {
    min-height:100%;
    overflow-x:hidden;
    overflow-y:scroll;
    position:relative;
    width:100%;
}
body {
    margin:0;
    height:100%;
    width:100%;
}
a {
    text-decoration:none;
}
a img {
    border:none;
}

@media {
    .range {
        /* width: 600px;        */
    }
}

@media (max-width: 768px) {
    .range {
        /* width: 300px; */
    }
}

@media (max-width: 480px) {
    .range {
        /* width: 200px;      */
    }
}

.range {
    width: 100%;
}

#logo a {
    color: #C5060B;
    text-decoration: underline;
}

#mainContent {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    top: 200px;
    left: 0;
    bottom: 0;
    right: 0;
}

#loginButtonDivWrapper {
    width: 250px;
    height: 47px;
    margin: 0 auto;
    position: absolute;
    top: 200px;
    left: 0;
    bottom: 0;
    right: 0;
}

#logoutButtonDiv {
    width: 208px;
    height: 57px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 0;
}

.bar-stable {
    height: 60px;
}

.bar-subheader {
    background-color: #f5f5f5;
}

ion-view {
    margin-top: 15px;
}

.allActivitiesFeedBlocksDivider {
    background-color: #000000;
    width: 2px;
    height: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    top: 0px;
}

.activityFilterBar {
    margin: 0;
    padding: 0;
    height: 50px;
}

.item-gamiavatar, .item-gamiavatar .item-content {
    padding-left: 70px;
    min-height: 70px;
}
.item-gamiavatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image {
    position: absolute;
    top: 15px;
    left: 15px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
}

.tabs {
    color: #000000;
}

.taskDiv {
    margin-top: 10px;
}

.taskDiv h2 {
    text-align: center;
}

.taskDiv ion-checkbox {
    padding-top: 20px;
}

.classroomList h3 {
    text-align: center;
}

.levelButtonSelected {
    background-color: #FFFFFF;
    border-bottom: none;
}

.taskIconCounter {
    width: 40px;
    min-width: 40px;
    height: 40px;
    background-color: #000000;
    display: table-cell;
    text-align:center;
    vertical-align: middle;
    border-radius: 4px;
    color: #FFFFFF;
}

.taskIconLabel {
    padding-left: 20px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
}

.statGroupDiv {
    width: 100%;
    background-color: #F5F5F5;
    margin-bottom: 20px;
}

.questItems {
    margin: 0;
    border-width: 1;
    /* margin-left: 10px;
    margin-right: 10px; */
    color: #000000;
}

.questItems a.item-content,
.questItems a.item-content {
    padding: 0;
    border: none;
    background-color: #FFFFFF;
    color: #000000;
}

.statQuestTitle {
    width: 80px;
    min-width: 80px;
    padding-left: 20px;
    height: 50px;
    /*background-color: #555555;    */
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    color: #000000;
}

.statQuestProgress {
    width: 100%;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    /* background-color: #555555; */
}

.statQuestFooter {
    width: 100%;
    text-align: center;
    color: #000000;
    border-width: 1px;
    border: #cccccc solid thin;
    border-top: none;
}

.statGroupDiv .list {
    margin-bottom: 0;
}

.badgeCounter {
    width: 57px;
    height: 57px;
    border-radius: 4px;
    background-color: #000000;
    color: #FFFFFF;
    display: table-cell;
    text-align:center;
    vertical-align: middle;
}

.badgeLabel {
    position: absolute;
    top: 15px;
    max-height: 57px;
}

.tabs .tab-item .badge {
    background-color: #4A87EE;
    color: #FFFFFF;
}

.progress-bar {
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;

    height: 20px;

    position: relative;
    display: block;
}

.progress-bar > span {
    background-color: #FF0000;
    border-radius: 2px;

    display: block;
    text-indent: -9999px;
}

.activityButtonSelected {
    background-color: #FFFFFF;
    border-bottom: none;
}

.item-divider {
    border: none;
    text-align: center;
}

.row {
    padding: 0;
}

.col {
    border-width: 1px;
    border: #cccccc solid thin;
    border-top: none;
    border-bottom: none;
}

span.rnd {
    background: #FFFFFF;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #000000;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}

.levelProgress {
    width: 100%;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
    background: #cfcfcf !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
    background: #cfcfcf;
}

/* IE10 */
progress {
    color: black;
}

/* Firefox */
progress::-moz-progress-bar {
    background: black;
}

/* Chrome */
progress::-webkit-progress-value {
    background: black;
}

/* Polyfill */
progress[aria-valuenow]:before  {
    background: black;
}