html {
    min-height:100%;
    overflow-x:hidden;
    overflow-y:scroll;
    position:relative;
    width:100%;
}
body {
    background-color:#333333;
    color:#FFFFFF;
    margin:0;
    height:100%;
    width:100%;
}
a {
    text-decoration:none;
}
a img {
    border:none;
}

header a {
    color: #C5060B;
    text-decoration: underline;
}

.header {
    text-align: center;
    width: 100%;
    background-color: #318495;
    color: #222222;
    height: 70px;
    vertical-align: middle;
    font-size: 40px;
    font-weight: bold;
}

#logoutButtonDivWrapper {
    width: 300px;
    height: 70px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#logoutButtonDiv {
    width: 300px;
    height: 65px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 0;
}

#waiterWrapper  {
    width: 30px;
    height: 30px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#waiter  {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 0;
}

#logoutButtonDiv img {
    border:none;
}

#adminWrapper {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.studentListItem {
    list-style: none;
}

.wrap {
    background-color: #318495;
}

.contentwrap {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    padding: 0px 0px 0px 0px;
}

@media {
    body {
        height: 100%;
        width: 100%;
    }

    .wrap {
        padding:10px 10px 10px 10px;
        min-height: 70px;
    }
}

@media (max-width: 768px) {
    body {
        height: 100%;
        width: 100%;
        margin:0;
    }

    .wrap {
        padding:5px 5px 5px 5px;
        min-height: 60px;
    }
}

@media (max-width: 480px) {
    body {
        height: 100%;
        width: 100%;
        margin:0;
    }

    .wrap {
        padding:3px 3px 3px 3px;
        height: 56px;
    }
}

.alert-error {
    background-color: #CB3D39;
}

.classroom {
    background-color: #666666;
    color: #FFFFFF;
    min-height: 50px;
    min-width: 100%;
    margin: 5px 0 5px 0;
}

.classroomJoin {
    background-color: #036A07;
    color: #FFFFFF;
    min-height: 50px;
    min-width: 100%;
    margin: 5px 0 5px 0;
}

#activitiesButtongroup {
    width: 100%;
    max-width: 100%;
    border: none;
}

#activitiesButtongroup button {
    width: 20%;
    border-radius: 0;
}

#footer {
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

#footerButtongroup {
    width: 100%;
    max-width: 100%;
    border: none;
    color: darkolivegreen;
}

#footerButtongroup button {
    width: 20%;
    border-radius: 0;
    height: 50px;
    background-color: olive;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, olive 0px, darkolivegreen 100%);
    background-repeat: repeat-x;
    border-color: olive;
    color: #FFFFFF;
}

#footerButtongroup button:active {
    background-color: olive;
    border-color: olivedrab;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}