html {
    min-height:100%;
    overflow-x:hidden;
    overflow-y:scroll;
    position:relative;
    width:100%;
}
body {
    margin:0;
    height:100%;
    width:100%;
}
a {
    text-decoration:none;
}
a img {
    border:none;
}

@media {
    .range {
        width: 600px;
    }
}

@media (max-width: 768px) {
    .range {
        width: 300px;
    }
}

@media (max-width: 480px) {
    .range {
        width: 200px;
    }
}

#logo a {
    color: #C5060B;
    text-decoration: underline;
}

#mainContent {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    top: 200px;
    left: 0;
    bottom: 0;
    right: 0;
}

#loginButtonDivWrapper {
    width: 200px;
    height: 57px;
    margin: 0 auto;
    position: absolute;
    top: 200px;
    left: 0;
    bottom: 0;
    right: 0;
}

#logoutButtonDiv {
    width: 208px;
    height: 57px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 0;
}

.bar-stable {
    height: 60px;
}

ion-view {
    margin-top: 15px;
}

.allActivitiesFeedBlocksDivider {
    background-color: #000000;
    width: 2px;
    height: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    top: 0px;
}

.activityFilterBar {
    margin: 0;
    padding: 0;
    height: 50px;
}

.item-gamiavatar, .item-gamiavatar .item-content {
    padding-left: 70px;
    min-height: 70px;
}
.item-gamiavatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image {
    position: absolute;
    top: 15px;
    left: 15px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
}

.tabs {
    color: #000000;
}

.taskDiv {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.taskDiv h2 {
    text-align: center;
}

.taskDiv ion-checkbox {
    padding-top: 20px;
}

.classroomList h3 {
    text-align: center;
}

.levelButtonSelected {
    background-color: #4A87EE;
}

.taskIconCounter {
    width: 50px;
    height: 50px;
    background-color: #4A87EE;
    display: table-cell;
    text-align:center;
    vertical-align: middle;
}

.taskIconLabel {
    padding-left: 20px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.statGroupDiv {
    width: 100%;
    min-height: 150px;
    background-color: #555555;
    margin-bottom: 10px;
}

.questItems {
    margin: 0;
    border-width: 0;
    margin-left: 10px;
    margin-right: 10px;
    color: #FFFFFF;
}

.questItems a.item-content,
.questItems a.item-content {
    padding: 0;
    border: none;
    background-color: #555555;
    color: #FFFFFF;
}

.statGroupDiv h4 {
    text-align: center;
    color: #FFFFFF;
    border-width: 1px;
    border-bottom: #cccccc solid thin;
}

.statQuestTitle {
    width: 100px;
    min-width: 100px;
    height: 50px;
    /*background-color: #555555;    */
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    color: #FFFFFF;
}

.statQuestProgress {
    padding-left: 20px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    /* background-color: #555555; */
}

.badgeCounter {
    width: 57px;
    height: 57px;
    background-color: #4A87EE;
    display: table-cell;
    text-align:center;
    vertical-align: middle;
}

.badgeLabel {
    position: absolute;
    top: 15px;
    max-height: 57px;
}

.tabs .tab-item .badge {
    background-color: #4A87EE;
    color: #FFFFFF;
}