<ion-view>
    <div class="bar bar-subheader">
        <button class="button button-icon icon ion-ios7-arrow-back" ng-click="backToLevel()"></button>
        <h1 class="title">Quest: {{ activeQuest.label }} | Level: {{ activeLevel.label }}</h1>
    </div>
    <ion-content class="has-header padding">
        <div class="list" style="margin-top: 40px; padding-bottom: 80px">
            <div class="item item-divider">
                <div class="h3 title">Tasks</div>
                <button class="button button-clear button-positive" ng-click="addnewtask()">Add task</button>
            </div>
            <a ng-repeat="task in tasks" class="item item-text-wrap item-button-right">
                <div style="min-width: 40px; width: 40px; height: 40px; border-radius: 4px; background-color: #000000; color: #FFFFFF; display: table-cell; text-align:center; vertical-align: middle;">{{task.order}}</div>
                <div style="padding-left: 20px; height: 40px; display: table-cell; vertical-align: middle;">{{task.label}}</div>
                <div class="buttons">
                    <button class="button button-positive" style="margin-top: 10px" ng-click="editTask(task)">
                        <i class="icon ion-edit"></i>Edit
                    </button>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
