<ion-view>
    <ion-content class="has-header padding">
        <div class="button-bar">
            <a ng-repeat="classroom in classrooms" ng-class="whatClassIsIt(classroom, $index)" ng-click="checkSelectedTab($index)">{{classroom.label}}</a>
        </div>
            <div class="list" style="margin: 10px; padding-bottom: 80px">
                <div class="item item-divider">Students: </div>

                <div ng-repeat="student in students" class="item item-avatar">
                    <img ng-src="{{student.avatar}}">
                    <h3>{{student.firstName}} {{student.lastName}} ({{student.facebookId}})</h3>
                    <select ng-model="selectedIndex" ng-change="selectChange(student, selectedIndex)" style="position: absolute; top: 5px; right: 5px; bottom: 5px">
                        <option value="{{$index}}" ng-selected="getGroupSelectedStatus(student, group)" ng-repeat="group in selectedClassGroups">{{group.label}}</option>
                    </select>
                </div>
            </div>
    </ion-content>
</ion-view>