<div class="statQuestTitle">{{ currentQuest.label }}</div>
<div class="statQuestProgress">
    <div ng-show="currentQuest.locked==false" class="range range-positive">
        <span>Level {{ levelmin }}</span>
        <!-- input type="range" name="volume" min="0" max="100" value="{{pourcent}}" -->
        <progress max="100" value="{{pourcent}}" style="margin-left: 40px;margin-right: 20px">
            <div class="progress-bar">
                <span ng-style="{width: pourcent+'%'}">Progress: {{pourcent}}%</span>
            </div>
        </progress>
        <span>Level {{ levelmax }}</span>
        <span style="margin-left: 40px; color: #000000; min-width: 50px; font-size: 11px; text-decoration: underline">{{pourcent}} %</span>
    </div>
    <div ng-show="currentQuest.locked==true" style="margin-left: 10px">
        <i class="icon ion-ios7-locked"></i>
    </div>
</div>
