<ion-view>
    <ion-content class="padding" ng-show="groupId == null" style="background-color: #f5f5f5;">
        <div class="list" style="margin-top: 50px">
            No group assigned to you yet
        </div>
    </ion-content>
    <ion-content class="padding" ng-show="groupId != null" style="background-color: #f5f5f5;">
        <div class="list" style="margin-top: 50px; margin-bottom: 80px">
            <a ng-repeat="quest in quests" class="item item-icon-right item-text-wrap" ng-click="navigateToQuest(quest)">
                <div style="min-width: 40px; width: 40px; height: 40px; border-radius: 4px; background-color: #000000; color: #FFFFFF; display: table-cell; text-align:center; vertical-align: middle;">{{quest.order}}</div>
                <div style="padding-left: 20px; height: 40px; display: table-cell; vertical-align: middle;">{{quest.label}}</div>
                <i ng-if="quest.hasaccess == false && quest.completed < 1" class="icon ion-ios7-locked"></i>
                <i ng-if="quest.hasaccess == true && quest.completed < 1" class="icon ion-ios7-arrow-right"></i>
                <i class="icon ion-ios7-checkmark-outline" ng-if="quest.completed > 0"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
