<ion-view>

    <div class="bar bar-subheader activityFilterBar" style="border: none">
        <div class="button-bar" style="border: none">
            <a class="button" ng-class="{'activityButtonSelected': activityMenuModel==0}" ng-click="activityMenuModel=0">All</a>
            <a class="button" ng-disabled="groupId == null" ng-class="{'activityButtonSelected': activityMenuModel==1}" ng-click="activityMenuModel=1">Group</a>
            <a class="button" ng-class="{'activityButtonSelected': activityMenuModel==2}" ng-click="activityMenuModel=2">My</a>
            <a class="button" ng-class="{'activityButtonSelected': activityMenuModel==3}" ng-click="activityMenuModel=3;generateStats()">Stats</a>
            <a class="button" ng-class="{'activityButtonSelected': activityMenuModel==4}" ng-click="activityMenuModel=4">Comment</a>
        </div>
    </div>
    <ion-content class="has-header padding" ng-show="activityMenuModel==0">
        <div style="margin-top: 50px; padding-bottom: 80px">
            <div class="item item-divider">All Activities</div>
            <a ng-repeat="message in activities_all" class="item item-avatar item-text-wrap item-icon-right" ng-click="navigateToActivity(message)">
                <img ng-src="{{message.ownerAvatar}}">

                <h2>{{message.ownerName}}</h2>
                <span>{{getFormattedLabel(message.label)}}</span>
                <!-- i ng-if="message.label == 'JOINED_GAMIFICATION'" class="icon ion-person-add"></i>
                <i ng-if="message.label == 'NEW_BADGE'" class="icon ion-ios7-pricetag"></i -->
                <i ng-if="message.label != 'JOINED_GAMIFICATION' && message.label != 'NEW_BADGE' && message.url != null" class="icon ion-ios7-infinite"></i>
            </a>
        </div>
    </ion-content>

    <ion-content class="has-header padding" ng-show="activityMenuModel==1">
        <div style="margin-top: 50px; padding-bottom: 80px">
            <div class="item item-divider">Group Activities</div>
            <a ng-repeat="message in activities_group" class="item item-avatar item-text-wrap item-icon-right">
                <img ng-src="{{message.ownerAvatar}}">

                <h2>{{message.ownerName}}</h2>
                <span>{{getFormattedLabel(message.label)}}</span>
                <!-- i ng-if="message.label == 'JOINED_GAMIFICATION'" class="icon ion-person-add"></i>
                <i ng-if="message.label == 'NEW_BADGE'" class="icon ion-ios7-pricetag"></i -->
                <i ng-if="message.label != 'JOINED_GAMIFICATION' && message.label != 'NEW_BADGE' && message.url != null" class="icon ion-ios7-infinite"></i>
            </a>
        </div>
    </ion-content>

    <ion-content class="has-header padding" ng-show="activityMenuModel==2">
        <div style="margin-top: 50px; padding-bottom: 80px">
            <div class="item item-divider">My Activities</div>
            <a ng-repeat="message in activities_my" class="item item-avatar item-text-wrap item-icon-right">
                <img ng-src="{{message.ownerAvatar}}">

                <h2>{{message.ownerName}}</h2>
                <span>{{getFormattedLabel(message.label)}}</span>
                <!-- i ng-if="message.label == 'JOINED_GAMIFICATION'" class="icon ion-person-add"></i>
                <i ng-if="message.label == 'NEW_BADGE'" class="icon ion-ios7-pricetag"></i -->
                <i ng-if="message.label != 'JOINED_GAMIFICATION' && message.label != 'NEW_BADGE' && message.url != null" class="icon ion-ios7-infinite"></i>
            </a>
        </div>
    </ion-content>

    <ion-content class="has-header padding" ng-show="activityMenuModel==3">
        <div style="margin-top: 50px; padding-bottom: 80px">
            <div class="statGroupDiv" ng-repeat="group in groupStats">
                <!-- span style="font-size: 16px; font-weight: bold; padding-top: 8px; padding-bottom: 8px"></span -->
                <div class="item item-divider">{{ group.label }}</div>
                <ion-list>
                    <ion-item class="questItems" style="border-bottom: none; border-top: none" ng-repeat="quest in group.quests">
                        <!-- div class="statQuestTitle">{{ quest.label }}</div>
                        <div class="statQuestProgress">
                            <div ng-show="quest.locked==false" class="range range-positive">
                                <i class="icon ion-ios7-checkmark-outline"></i>
                                <input type="range" name="volume" min="0" max="100" ng-value="{{getQuestProgress(quest)}}">
                                <i class="icon ion-ios7-checkmark"></i>
                                <h4 style="margin-left: 10px">{{getQuestProgress(quest)}} %</h4>
                            </div>
                            <div ng-show="quest.locked==true" style="margin-left: 10px">
                                <i class="icon ion-ios7-locked"></i>
                            </div>
                        </div -->
                        <div my-queststat item="quest"></div>

                    </ion-item>
                </ion-list>
                <div class="statQuestFooter row">
                    <div class="col" style="border-left: none;"><span class="rnd">{{ group.deliverytype.automatic }}</span> Progress</div>
                    <div class="col"><span class="rnd">{{ group.deliverytype.manual }}</span> Teacher</div>
                    <div class="col" style="border-right: none;"><span class="rnd">{{ group.deliverytype.special }}</span> Gold</div>
                </div>
            </div>
        </div>
    </ion-content>

    <ion-content class="has-header padding" ng-show="activityMenuModel==4">
        <div style="margin-top: 50px; padding-bottom: 80px">
            <div class="item item-divider">Class message</div>
            <p style="margin-top: 10px; margin-bottom: 10px">Something to share?</p>
            <div class="item item-input-inset">
                <textarea id="commActivitiesFeedTextarea" style="height: 100px; width: 100%; color: #222222; resize: vertical"></textarea>
            </div>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input id="commActivitiesFeedTextinput" placeholder="url" name="input" type="url" style="width: 100%; height: 35px; color: #222222">
                </label>
                <button class="button button-small" style="border-radius: 4px; background-color: #000000; color: #FFFFFF" ng-click="postMessage()">
                    POST
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
    <div class="modal">
        <ion-header-bar title="My Modal Title"></ion-header-bar>
        <ion-content>
            Hello!
        </ion-content>
    </div>
</script>