<ion-view>
    <div class="bar bar-subheader">
        <button class="button button-icon icon ion-ios7-arrow-back" ng-click="backToCheckins()"></button>
        <h1 class="title">{{ activeCheckin.label }}</h1>
    </div>
    <ion-content class="has-header">
        <div style="margin-top: 45px; padding-bottom: 80px">
            <div class="list padding taskDiv">
                <div class="item item-divider"></div>
                <div class="item item-text-wrap" style="text-align: center;">
                    <h1>{{ activeCheckin.description }}</h1>
                </div>
                <!-- div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input id="urlTextInput" type="text" placeholder="Url" ng-model="urltext" ng-change="showUpdateButton()">
                    </label>
                    <button class="button button-small" ng-show="editing" ng-click="updateCurrentTask()">
                        Update
                    </button>
                </div -->
                <div class="item item-input-inset" ng-show="activeCheckin.isnotificationitem">
                    <textarea id="checkinTextarea" placeholder="Type here ..." style="height: 100px; width: 100%; color: #222222; resize: vertical"></textarea>
                </div>
                <li class="item item-checkbox" ng-click="validateCheckin()">
                    <label class="checkbox">
                        <input ng-checked="activeCheckin.completed" type="checkbox">
                    </label>
                    Completed
                </li>
            </div>
        </div>
    </ion-content>
</ion-view>
