<ion-view>
    <ion-content class="padding" style="background-color: #f5f5f5;">
        <div class="list" style="margin-top: 50px; padding-bottom: 80px">
            <div class="statGroupDiv" ng-repeat="group in groupStats">
                <!-- span style="font-size: 16px; font-weight: bold; padding-top: 8px; padding-bottom: 8px"></span -->
                <div class="item item-divider item-text-wrap item-avatar item-button-right" style="background-color: #666666; color: #FFFFFF; height: 70px">
                    <img ng-show="group.avatarUrl!=null" ng-src="{{group.avatarUrl}}">
                    {{ group.label }}
                    <p style="color: #333333">
                        {{ getStudentList(group.students) }}
                    </p>

                    <button class="button" disabled style="margin-top: 10px" ng-show="group.blogUrl==null">
                        <i class="icon ion-ios7-help-outline"></i>
                    </button>
                    <button class="button" style="margin-top: 10px" ng-show="group.blogUrl!=null" ng-click="navigateToBlog(group)">
                        <i class="icon ion-ios7-infinite"></i>
                    </button>
                </div>
                <ion-list>
                    <ion-item class="questItems" style="border-bottom: none; border-top: none" ng-repeat="quest in group.quests">
                        <div my-queststat item="quest"></div>
                    </ion-item>
                </ion-list>
                <div class="statQuestFooter row">
                    <div class="col" style="border-left: none;"><span class="rnd">{{ group.deliverytype.automatic }}</span> Progress</div>
                    <div class="col" style="border-right: none;"><span class="rnd">{{ group.deliverytype.manual }}</span> Teacher</div>
                    <!-- div class="col"><span class="rnd">{{ group.deliverytype.special }}</span> Gold</div -->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
