<ion-tabs class="tabs-icon-top" delegate-handle="main-navigation">
    <ion-tab id="mainNavActivity" title="ACTIVITÉS" icon-on="ion-ios7-photos" badge="activityBadgeValue" icon-off="ion-ios7-photos-outline" ng-click="changeMainTab(0)">
        <ion-nav-view name="tab-activities"></ion-nav-view>
    </ion-tab>
    <ion-tab id="mainNavQuest" title="QUÊTES" icon-on="ion-ios7-bookmarks" icon-off="ion-ios7-bookmarks-outline" ng-click="changeMainTab(1)">
        <ion-nav-view name="tab-quests"></ion-nav-view>
    </ion-tab>
    <ion-tab id="mainNavCheckin" title="CHECK' INS" icon-on="ion-ios7-checkmark" badge="checkinBadgeValue" icon-off="ion-ios7-checkmark-outline" ng-click="changeMainTab(2)">
        <ion-nav-view name="tab-checkins"></ion-nav-view>
    </ion-tab>
    <ion-tab id="mainNavBadge" title="BADGES" icon-on="ion-ios7-pricetag" badge="badgeBadgeValue" icon-off="ion-ios7-pricetag-outline" ng-click="changeMainTab(3)">
        <ion-nav-view name="tab-badges"></ion-nav-view>
    </ion-tab>
    <ion-tab id="mainNavBlog" title="GROUPES" icon-on="ion-ios7-people" icon-off="ion-ios7-people-outline" ng-click="changeMainTab(4)">
        <ion-nav-view name="tab-blogs"></ion-nav-view>
    </ion-tab>
</ion-tabs>
