test:
  sessions:
    default:
      database: gamification
      hosts:
        - localhost
      options:
        consistency: :strong
  options:
    identity_map_enabled: false
    raise_not_found_error: false

development:
  sessions:
    default:
      #database: gamification
      database: heroku_app22003135
      hosts:
        - localhost
      options:
        consistency: :strong
  options:
    identity_map_enabled: false
    raise_not_found_error: false

production:
  sessions:
    default:
      uri: <%= ENV['MONGOLAB_URI'] %>
      options:
        skip_version_check: true
        safe: true
  options:
    identity_map_enabled: false
    raise_not_found_error: false