<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Gamification admin</title>
    <link href="css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- Local scripts -->
    <script src="js/ionic.bundle.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-cookies.js"></script>

    <!-- Local scripts -->

    <script src="js/init.js"></script>
    <script src="js/factories.js"></script>
    <script src="js/controllers/admin.js"></script>
</head>
<body ng-app="gamififcationApp" ng-controller="adminCtrl">

    <div class="bar bar-header" style="height: 60px; background-color: #f8f8f8">
        <h1 class="title">Administration</h1>
    </div>

    <div class="button-bar" style="margin-top: 60px">
        <a ng-repeat="classroom in classrooms" ng-class="whatClassIsIt(classroom, $index)" ng-click="checkSelectedTab($index)">{{classroom.label}}</a>
    </div>

    <div class="list" style="margin: 10px">
        <div class="item item-divider">Students: </div>

        <div ng-repeat="student in students" class="item item-avatar">
            <img ng-src="{{student.avatar}}">
            <h3>{{student.firstName}} {{student.lastName}} ({{student.facebookId}})</h3>
            <select ng-model="selectedIndex" ng-change="selectChange(student, selectedIndex)" style="position: absolute; top: 5px; right: 5px; bottom: 5px">
                <option value="{{$index}}" ng-selected="getGroupSelectedStatus(student, group)" ng-repeat="group in selectedClassGroups">{{group.label}}</option>
            </select>
        </div>


    </div>
</body>
</html>
