<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Gamification</title>

    <meta name="description" content="Gamification project between Caroline Cruaud (UiO) and Engagelab (UiO)">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="author" content="Jeremy Toussaint, UiO" />

    <!-- Local StyleSheets -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- External live-loaded dependencies-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-sanitize.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

    <!-- Local scripts -->
    <script src="js/init.js"></script>
    <script src="js/factories.js"></script>
    <script src="js/index.js"></script>

</head>
<body ng-app="gamififcationApp">
    <div ng-controller="navigationCtrl">
        <header>
            <div class="wrap">
                <!-- logo -->
                <div id="logo">
                    <a href="#"> <img ng-src="{{avatarUrl}}"/></a>
                    {{username}} ({{facebookId}})
                </div>

                <a href="" ng-click="gotoAbout()">click</a>
            </div>
        </header>

        <!-- main content -->
        <div class="contentwrap">
            <div style="position:relative">
                <div style="width:100%" ng-view ng-animate="{enter: 'view-enter', leave: 'view-leave'}">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>

        <footer>
            You are logged in! <button class="btn btn-sm btn-danger" ng-click="logout()">Sign out</button>
        </footer>
    </div>
</body>
</html>
