<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="utf-8">
<title>Gamification</title>

    <meta name="description" content="Gamification project between Caroline Cruaud (UiO) and Engagelab (UiO)">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="author" content="Jeremy Toussaint, UiO" />

    <!-- Local StyleSheets -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- External live-loaded dependencies-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-sanitize.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="http://fgnass.github.io/spin.js/spin.min.js"></script>

    <!-- Local scripts -->
    <script src="js/strophe.js"></script>
    <script src="js/strophe.muc.js"></script>
    <script src="js/init.js"></script>
    <script src="js/factories.js"></script>
    <script src="js/index.js"></script>
    <script src="js/activities.js"></script>

</head>
<body ng-app="gamififcationApp">
    <div ng-controller="navigationCtrl" style="width: 100%; height: 100%; min-height: 200px;">
        <header>
            <div class="wrap">
                <!-- logo -->
                <div id="logo">
                    <div style="float: left">
                        <a href="#"><img ng-src="{{avatarUrl}}"/></a>
                    </div>
                    <div style="float: left; margin-left: 10px">
                        {{username}} ({{facebookId}})<br />
                        <a href="" ng-click="logout()">LOGOUT</a>
                    </div>

                </div>

                <!-- a href="" ng-click="gotoAbout()">click</a -->
            </div>
        </header>

        <!-- main content -->
        <div class="contentwrap">
            <div style="width: 100%; height: 100%">
                <div ng-show="isStudentAssigned">
                    <div ng-show="classrooms.length == 0">
                        <div class="alert alert-error">There are no classrooms available yet.</div>
                    </div>
                    <div style="width: 300px; margin: auto;">
                        <button ng-repeat="classroom in classrooms" class="btn classroom" ng-model="classModel" btn-checkbox ng-click="pickClassroom(classroom)">{{classroom.label}}</button>
                        <button class="btn classroomJoin" ng-click="joinClassroom()">JOIN</button>
                    </div>
                </div>

                <div ng-show="!isStudentAssigned" style="width: 100%; height: 100%">
                    <div ng-include="activePage.url" style="width: 100%; height: 100%"></div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div id="footerButtongroup">
                <button type="button" class="btn btn-primary" ng-model="navModel" btn-radio="1" ng-click="changeNavigationMenu(1)" style="margin-right: -2px">Activities</button>
                <button type="button" class="btn btn-primary" ng-model="navModel" btn-radio="2" ng-click="changeNavigationMenu(2)" style="margin-right: -2px; margin-left: -2px">Quests</button>
                <button type="button" class="btn btn-primary" ng-model="navModel" btn-radio="3" ng-click="changeNavigationMenu(3)" style="margin-right: -2px; margin-left: -2px">Checkins</button>
                <button type="button" class="btn btn-primary" ng-model="navModel" btn-radio="4" ng-click="changeNavigationMenu(4)" style="margin-right: -2px; margin-left: -2px">Badges</button>
                <button type="button" class="btn btn-primary" ng-model="navModel" btn-radio="5" ng-click="changeNavigationMenu(5)" style="margin-left: -2px">Blogs</button>
            </div>
        </div>
    </div>
</body>
</html>
